<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="js/main.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <script>var content = <%= content %></script>
        <div id="header">
            <span id="title">Porter Libby</span>
            </br>
            <div id="nav">
                <div class="nav_left" onclick="location.href='<%= content[x].live_demo %>';">
                    <i data-feather="github"></i>
                </div>
                <div class="nav_mid" onclick="location.href='<%= content[x].live_demo %>';">
                    <i data-feather="facebook"></i>
                </div>
                <div class="nav_mid" onclick="location.href='<%= content[x].live_demo %>';">
                    <i data-feather="instagram"></i>
                </div>
                <div class="nav_mid" onclick="location.href='<%= content[x].live_demo %>';">
                    <i data-feather="hexagon"></i>
                </div>
                <div class="nav_mid" onclick="location.href='<%= content[x].live_demo %>';">
                    <i data-feather="linkedin"></i>
                </div>
                <div class="nav_right" onclick="location.href='<%= content[x].live_demo %>';">
                    <i data-feather="file-text"></i>
                </div>
            </div>
        </div>
        <div id="content_container">
            <% for (var x = 0; x < content.length; x++) { %>
                <div class="content_item">
                    <img class="content_image" src="<%= content[x].img_url %>" alt="sequencer_screenshot">
                    <div class="content_title_bar">
                        <span class="content_item_title">
                            <img class="content_item_icon" src="<%= content[x].icon_url %>" alt="<%= content[x].title %> icon">
                            <%= content[x].title %>
                            <img class="content_item_icon" src="<%= content[x].icon_url %>" alt="<%= content[x].title %> icon">
                        </span>
                    </div>
                    <span class="content_item_content">
                        <%= content[x].content %>
                    </span>
                    <div class="content_buttons">
                        <% if (content[x].git_repo != "") { %>
                            <div class="nav_left" onclick="window.location ='<%= content[x].git_repo %>';">
                                <i data-feather="github"></i>
                            </div>
                        <% } %>
                        <% if (content[x].live_demo != "") { %>
                            <div class="nav_left" onclick="location.href='<%= content[x].live_demo %>';">
                                <i data-feather="link"></i>
                            </div>
                        <% } %>
                    </div>
                </div>

            <% } %>
        </div>
    <script>
        feather.replace()
    </script> 
    </body>
    
</html>
